In [13]:
import pandas as pd

## Task 1- Extraction: 
1. Change textfile to csv 
2. Convert csv to Dataframe with column names

In [2]:
import csv

In [42]:
log_df=pd.read_csv('log.txt')
log_df=log_df.to_csv('log.csv', index=False)

In [41]:
log_df

In [47]:
log_df=pd.read_csv('log.csv', names=['task', 'status', 'trackerID', 'serverregion', 'timestamp', 'server'], delimiter='|')

In [48]:
log_df

,task,status,trackerID,serverregion,timestamp,server
0,Data quality assurance,success,89328463487,Florida;USA,1599093305000,464f:bdbd:1d:535a:2dad:5117:a92f:b359
1,Designing and implementing data models,success,89328463488,Ontario;Canada,1589218599000,1366:c314:8d40:4219:4a51:138f:7ce3:d244
2,Extracting data from various sources,success,89328463489,California;USA,1595463446000,1ffa:cdd1:7a2b:a7d8:ab00:eada:94b3:7a7c
3,Loading data into a data warehouse,success,89328463490,Florida;USA,1605932487000,8ac5:9010:f24c:2f06:4679:aaec:a737:f003
4,Data quality assurance,success,89328463491,Queensland;Australia,1587354266000,5a7d:18ec:4650:5421:185c:4fa0:2e86:6643
...,...,...,...,...,...,...
995,Data governance,success,89328464482,Texas;USA,1593117157000,e1b6:24be:69e6:7835:281b:d015:bc04:4150
996,Optimizing database performance,failed,89328464483,California;USA,1597399201000,18de:15cb:f964:bc62:491:9d79:da3f:a6fd
997,Optimizing database performance,success,89328464484,Texas;USA,1607161055000,cc7c:3591:1c62:280c:b259:dc89:e69d:2d75
998,Building data pipelines,success,89328464485,Texas;USA,1588130663000,3336:1461:f197:bad9:705f:7dd:8c59:a5e4
999,Designing and implementing data models,success,89328464486,New York;USA,1604987132000,633d:e149:e22f:a277:b5f6:dae8:b32c:ea9e

In [71]:
log_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   task          1000 non-null   object
 1   status        1000 non-null   object
 2   trackerID     1000 non-null   int64
 3   serverregion  1000 non-null   object
 4   timestamp     1000 non-null   int64
 5   server        1000 non-null   object
 6   state         1000 non-null   object
 7   country       1000 non-null   object
dtypes: int64(2), object(6)
memory usage: 62.6+ KB

In [55]:
log_df.columns

Index(['task', 'status', 'trackerID', 'serverregion', 'timestamp', 'server'], dtype='object')

## Task 2 - Cleaning:
1. Split state and country 
2. Change timestamp datatype to date

In [138]:
def my_country(text):
    result=text.split(',')[0]
    return result




def my_state(text):
    result=text.split(',')[0]
    return result

In [139]:
log_df['state']= log_df['serverregion'].apply(my_state)
log_df['country']= log_df['serverregion'].apply(my_country)

In [140]:
log_df

,task,status,trackerID,serverregion,timestamp,server,state,country,date
0,Data quality assurance,success,89328463487,Florida,1599093305000,464f:bdbd:1d:535a:2dad:5117:a92f:b359,Florida,Florida,2020-09-03 00:35:05
1,Designing and implementing data models,success,89328463488,Ontario,1589218599000,1366:c314:8d40:4219:4a51:138f:7ce3:d244,Ontario,Ontario,2020-05-11 17:36:39
2,Extracting data from various sources,success,89328463489,California,1595463446000,1ffa:cdd1:7a2b:a7d8:ab00:eada:94b3:7a7c,California,California,2020-07-23 00:17:26
3,Loading data into a data warehouse,success,89328463490,Florida,1605932487000,8ac5:9010:f24c:2f06:4679:aaec:a737:f003,Florida,Florida,2020-11-21 04:21:27
4,Data quality assurance,success,89328463491,Queensland,1587354266000,5a7d:18ec:4650:5421:185c:4fa0:2e86:6643,Queensland,Queensland,2020-04-20 03:44:26
...,...,...,...,...,...,...,...,...,...
995,Data governance,success,89328464482,Texas,1593117157000,e1b6:24be:69e6:7835:281b:d015:bc04:4150,Texas,Texas,2020-06-25 20:32:37
996,Optimizing database performance,failed,89328464483,California,1597399201000,18de:15cb:f964:bc62:491:9d79:da3f:a6fd,California,California,2020-08-14 10:00:01
997,Optimizing database performance,success,89328464484,Texas,1607161055000,cc7c:3591:1c62:280c:b259:dc89:e69d:2d75,Texas,Texas,2020-12-05 09:37:35
998,Building data pipelines,success,89328464485,Texas,1588130663000,3336:1461:f197:bad9:705f:7dd:8c59:a5e4,Texas,Texas,2020-04-29 03:24:23
999,Designing and implementing data models,success,89328464486,New York,1604987132000,633d:e149:e22f:a277:b5f6:dae8:b32c:ea9e,New York,New York,2020-11-10 05:45:32

##### 2. Change unix timestamp to date

In [72]:
log_df[['timestamp']]

         timestamp
0    1599093305000
1    1589218599000
2    1595463446000
3    1605932487000
4    1587354266000
..             ...
995  1593117157000
996  1597399201000
997  1607161055000
998  1588130663000
999  1604987132000

[1000 rows x 1 columns]

In [78]:
import datetime

In [89]:
log_df['date']=pd.to_datetime(log_df['timestamp'], unit='ms')

In [90]:
log_df

,task,status,trackerID,serverregion,timestamp,server,state,country,date
0,Data quality assurance,success,89328463487,Florida,1599093305000,464f:bdbd:1d:535a:2dad:5117:a92f:b359,Florida,Florida,2020-09-03 00:35:05
1,Designing and implementing data models,success,89328463488,Ontario,1589218599000,1366:c314:8d40:4219:4a51:138f:7ce3:d244,Ontario,Ontario,2020-05-11 17:36:39
2,Extracting data from various sources,success,89328463489,California,1595463446000,1ffa:cdd1:7a2b:a7d8:ab00:eada:94b3:7a7c,California,California,2020-07-23 00:17:26
3,Loading data into a data warehouse,success,89328463490,Florida,1605932487000,8ac5:9010:f24c:2f06:4679:aaec:a737:f003,Florida,Florida,2020-11-21 04:21:27
4,Data quality assurance,success,89328463491,Queensland,1587354266000,5a7d:18ec:4650:5421:185c:4fa0:2e86:6643,Queensland,Queensland,2020-04-20 03:44:26
...,...,...,...,...,...,...,...,...,...
995,Data governance,success,89328464482,Texas,1593117157000,e1b6:24be:69e6:7835:281b:d015:bc04:4150,Texas,Texas,2020-06-25 20:32:37
996,Optimizing database performance,failed,89328464483,California,1597399201000,18de:15cb:f964:bc62:491:9d79:da3f:a6fd,California,California,2020-08-14 10:00:01
997,Optimizing database performance,success,89328464484,Texas,1607161055000,cc7c:3591:1c62:280c:b259:dc89:e69d:2d75,Texas,Texas,2020-12-05 09:37:35
998,Building data pipelines,success,89328464485,Texas,1588130663000,3336:1461:f197:bad9:705f:7dd:8c59:a5e4,Texas,Texas,2020-04-29 03:24:23
999,Designing and implementing data models,success,89328464486,New York,1604987132000,633d:e149:e22f:a277:b5f6:dae8:b32c:ea9e,New York,New York,2020-11-10 05:45:32

In [143]:
columns = ['task', 'status', 'trackerID' ,'server', 'state', 'country', 'date']
new_manager = log_df[columns].copy()

In [ ]:
new_manager.to_csv('managerial_review.csv')

## Task 3- Analysis
1. What country has the most successful and failed operation

In [ ]:
log_df[['status', 'country']]